body {
  background-color: aqua;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.world {
  position: relative;
  min-height: calc(100vw * (1/3))
}

.tile {
  position: absolute;
  width: calc(100% / 10);
  height: auto;
  transform: translateX(-50%)
}
.monster{
  position: absolute;
  height: auto;
  width: 10vw;
  size: absolute;
  transform: scale(75%) translate(0%, -125%);
  transition: top 0.35s linear, left 0.35s linear, transform 0.35s linear;
}
.building{
  position: absolute;
  height: auto;
  width: 10vw;
  size: absolute;
  transform: scale(75%) translate(0%, -125%);
}

.splashscreen {
  position: absolute;
  position: center;
  size: 75%;
}