body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.world {
  position: relative;
  min-height: calc(100vw * (1/3))
}

.tile {
  position: absolute;
  width: calc(100% / 10);
  height: auto;
  transform: translateX(-50%)
}
.monster{
  z-index: 1000;
  position: absolute;
  transform: scale(200%) translate(-30%, -50%);
  height: auto
}